@import '@trussworks/react-uswds/lib/index.css';



.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.hero {
  text-align: center;
  margin-bottom: 50px;
}



.container {
  max-width: 100%;
  margin: 0 auto;
}



body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; 
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #cfd0d1; 

 

  align-items: center;
  justify-content: center;
}


button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  letter-spacing: 1px; 
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}

button:hover {
  background-color: #b6ddf0;
}


/* Light mode styles */
@media (prefers-color-scheme: light) {
  body {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}
